.call-disconnected {
    --call: #19e17d;
    --call_dark: #0ab464;
}

.call-connected {
    --call: #e64b50;
    --call_dark: #c83c4b;
}

.theme-silver {
    --main: #c8d2dc;
    --main_light: #ebf0f5;
    --main_dark: #b4bec8;
    --main_darker: #5a646e;

    --back: #faf5f0;
    --front: #1e1e1e;
}

.theme-charcoal {
    --main: rgb(115, 110, 110);
    --main_light: rgb(180, 170, 170);
    --main_dark: rgb(60, 60, 60);
    --main_darker: rgb(20, 20, 20);

    --back: #1e1e1e;
    --front: #faf5f0;
}

.theme-ocean {
    --main: #19c8e1;
    --main_light: #4be6ff;
    --main_dark: #0aafd2;
    --main_darker: #053264;

    --back: #1e1e1e;
    --front: #faf5f0;
}

.theme-fire {
    --main: rgb(230, 145, 40);
    --main_light: rgb(255, 220, 115);
    --main_dark: rgb(200, 100, 20);
    --main_darker: rgb(200, 25, 10);

    --back: #1e1e1e;
    --front: #faf5f0;
}
