body {
    background-color: bisque;
}

#b1 {
    margin: 25px;
    padding: 10px 50px;
    font-size: 24px;
    font-weight: bold;
    color: #c8f0f0;
    background-color: dodgerblue;
    border-radius: 25px;
    border: 3px solid royalblue;
}

#b1:hover {
    color: #c8dcf0;
    background-color: royalblue;
    border: 3px solid dodgerblue;
}

#b1:disabled {
    color: #e6e6e6;
    background-color: silver;
    border: 3px solid #a0a0a0;
}