body {
    font-family: monospace;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

.root-container {
    background-image: linear-gradient(to bottom, var(--main_dark), var(--main_darker));
    color: var(--common_text);
    font-size: 32px;

    height: 100%;
    width: 100%;
    overflow: hidden;
}

.hide {
    display: none !important;
}

.invisible {
    visibility: hidden;
}

.main-page, .settings-page {
    /* to overlap both the pages */
    position: absolute;
    
    padding: 20px;
    transition: transform 0.4s ease-out;
}

.shift-right {
    transform: translateX(100%);
}

.shift-left {
    transform: translateX(-100%);
}

.bordered-page {
    /* to place the settings, cross button*/
    position: relative;

    border: 3px solid var(--main_dark);
    border-radius: 10px;
}

.flip-3d {
    position: relative;
    width: 360px;
    height: 380px;
    background-color: transparent;
}

.flip-3d > .flip-side {
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.4s linear 0s;
}

.rotate-180 {
    transform: perspective(750px) rotateY(-180deg);
}

.rotate0 {
    transform: perspective(750px) rotateY(0deg);
}

.rotate180 {
    transform: perspective(750px) rotateY(180deg);
}

.flex-row {
    display: flex;
    flex-flow: row nowrap;
}

.flex-column {
    display: flex;
    flex-flow: column nowrap;
}

.row-center {
    align-items: center;
}

.column-center {
    justify-content: center;
}

.grid-container {
    margin: auto;
    padding: 10px;

    display: grid;
    align-items: stretch;
}

.column-2 {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    row-gap: 20px;
}

.column-3 {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 10px;
}

.grid-item {
    text-align: center;
}

.blank {
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 20px;
}

.switch-box {
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 5px;
    border: 1.5px solid var(--main_dark);
    border-radius: 10px;
}

#switch-text {
    font-size: 18px;
    font-weight: bold;
    padding-right: 20px;
}

input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    cursor: pointer;
    width: 60px;
    height: 30px;
    background: var(--main_dark);
    display: block;
    border-radius: 30px;
    position: relative;
}

label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
    background: var(--main_light);
    border-radius: 50%;
    transition: 0.2s;
}

input:checked+label {
    background: var(--main_darker);
}

input:checked+label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

.settings-button {
    padding: 10px 30px;
    font-size: 22px;
    background-color: var(--main_darker);
    color: var(--main_light);
    border: transparent;
    border-radius: 10px;
}

.settings-button:hover {
    background-color: var(--main);
    color: var(--main_darker);
}

.settings-button:focus {
    outline: none !important;
}

.bars-box,
.cross-box {
    position: absolute;
    top: 0;
    right: 0;
}

#bars-button,
#cross-button {
    background-color: transparent;
    border: transparent;
    border-radius: 50%;
    cursor: pointer !important;
}

#bars-button:hover,
#cross-button:hover {
    background-color: var(--main_dark);
}

#bars-button:focus,
#cross-button:focus {
    outline: none !important;
}

.phone-number {
    padding: 25px 10px;
    cursor: default;
}

.timer {
    grid-column-start: 1;
    grid-column-end: 3;

    padding: 25px 10px;
    cursor: default;
}

#country-code,
#number-cursor {
    margin: 0;
    padding: 0;
    color: var(--main_light);
}

.editable {
    cursor: text !important;
}

.special-digit,
.digit {
    display: block;
    padding: 15px 30px;

    background-color: var(--main);
    border: 5px solid transparent;
    border-radius: 40%;
    user-select: none;
}

.special-digit:hover,
.digit:hover {
    background-color: var(--main_dark);
    border: 5px solid var(--main_light);
    cursor: pointer;
}

.call {
    margin-top: 0;
    margin-bottom: 10px;
}

#phone-button {
    background-color: var(--call);
    border: 5px solid transparent;
    border-radius: 50%;
}

#phone-button:hover {
    background-color: var(--call_dark);
    border: 5px solid var(--call);
    cursor: pointer;
}

#phone-button:focus {
    outline: none !important;
}

select {
    padding: 5px;
    font-size: 15px;
    font-weight: bold;

    color: var(--main_darker);
    border-radius: 10px;
    outline: none !important;
}

#mute-button,
#hold-button {
    background-color: var(--main_dark);
    border: transparent;
    border-radius: 50%;
    outline: none !important;
    cursor: pointer;
}

.active-button,
#mute-button:hover,
#hold-button:hover {
    background-color: var(--main_darker) !important;
}
