body {
    font-family: monospace;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

.root-container {
    background-image: linear-gradient(to bottom, var(--main_dark), var(--main_darker));
    color: var(--common_text);
    font-size: 32px;

    height: 100%;
    width: 100%;
    overflow: hidden;
}

.flip-3d > .flip-side {
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.5s linear 0s;
}

.rotate-180 {
    transform: perspective(750px) rotateY(-180deg);
}

.rotate0 {
    transform: perspective(750px) rotateY(0deg);
}

.rotate180 {
    transform: perspective(750px) rotateY(180deg);
}

.flex-row {
    display: flex;
    flex-flow: row nowrap;
}

.flex-column {
    display: flex;
    flex-flow: column nowrap;
}

.row-center {
    align-items: center;
}

.column-center {
    justify-content: center;
}

.grid-container {
    margin: 10px auto;
    padding: 10px 30px;
    border: 3px solid var(--main_dark);
    border-radius: 10px;

    display: grid;
    align-items: stretch;
    row-gap: 10px;
    column-gap: 20px;
}

.column-2 {
    grid-template-columns: repeat(2, 1fr);
}

.column-3 {
    grid-template-columns: repeat(3, 1fr);
}

.grid-item {
    text-align: center;
}

.settings-button {
    padding: 10px 30px;
    font-size: 22px;
    background-color: var(--main_darker);
    color: var(--main_light);
    border: transparent;
    border-radius: 10px;
}

.settings-button:hover {
    background-color: var(--main);
    color: var(--main_darker);
}

.settings-button:focus {
    outline: none !important;
}

.bars-box,
.cross-box {
    position: fixed;
    top: 18px;
    right: 15px;
}

#bars-button,
#cross-button {
    background-color: transparent;
    border: transparent;
    border-radius: 50%;
    cursor: pointer !important;
}

#bars-button:hover,
#cross-button:hover {
    background-color: var(--main_dark);
}

#bars-button:focus,
#cross-button:focus {
    outline: none !important;
}

#bars,
#cross {
    padding: 10px;
    height: 28px;
    width: 28px;
    fill: var(--main_light);
}

.phone-number {
    grid-column-start: 1;
    grid-column-end: 4;

    padding: 30px 10px;
    cursor: default;
}

#country-code,
#number-cursor {
    margin: 0;
    padding: 0;
    color: var(--main_light);
}

.editable {
    cursor: text !important;
}

.special-digit,
.digit {
    display: block;
    padding: 15px 30px;

    background-color: var(--main);
    border: 5px solid transparent;
    border-radius: 40%;
}

.special-digit:hover,
.digit:hover {
    background-color: var(--main_dark);
    border: 5px solid var(--main_light);
    cursor: pointer;
}

.call {
    grid-column-start: 1;
    grid-column-end: 4;
}

#phone-button {
    background-color: var(--call);
    border: 5px solid transparent;
    border-radius: 50%;
}

#phone-button:hover {
    background-color: var(--call_dark);
    border: 5px solid var(--call);
    cursor: pointer;
}

#phone-button:focus {
    outline: none !important;
}

#phone {
    padding: 15px;
    height: 40px;
    width: 40px;
    fill: white;
}

.blank {
    grid-column-start: 1;
    grid-column-end: 3;

    padding: 25px;
}

select {
    padding: 5px;
    font-size: 15px;
    font-weight: bold;

    color: var(--main_darker);
    border-radius: 10px;
    outline: none !important;
}