body {
    font-family: monospace;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

.flex-row {
    display: flex;
    flex-flow: row nowrap;
}

.flex-column {
    display: flex;
    flex-flow: column nowrap;
}

.row-center {
    align-items: center;
}

.column-center {
    justify-content: center;
}

.root-container {
    background-image: linear-gradient(to bottom, var(--main_dark), var(--main_darker));
    color: var(--front);
    font-size: 32px;

    height: 100%;
    width: 100%;
    overflow: hidden;
}

.grid-container {
    margin: 10px auto;
    padding: 10px 30px;
    border: 3px solid var(--main_dark);
    border-radius: 10px;

    display: grid;
    align-items: stretch;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 10px;
    column-gap: 20px;
}

.grid-item {
    text-align: center;
}

.phone-number {
    grid-column-start: 1;
    grid-column-end: 4;

    padding: 30px 10px;
}

.phone-number:hover {
    cursor: text;
}

#country-code,
#number-cursor {
    margin: 0;
    padding: 0;
    color: var(--main_light);
}

.editable:hover {
    color: var(--back);
}

.special-digit,
.digit {
    display: block;
    padding: 15px 30px;

    background-color: var(--main);
    border: 5px solid transparent;
    border-radius: 40%;
}

.special-digit:hover,
.digit:hover {
    background-color: var(--main_dark);
    border: 5px solid var(--main_light);
    cursor: pointer;
}

.call {
    grid-column-start: 1;
    grid-column-end: 4;
}

#phone-button {
    background-color: var(--call);
    border: 5px solid transparent;
    border-radius: 50%;
}

#phone-button:hover {
    background-color: var(--call_dark);
    border: 5px solid var(--call);
    cursor: pointer;
}

#phone-button:focus {
    outline: none !important;
}

#phone {
    padding: 15px;
    height: 40px;
    width: 40px;
    fill: white;
}
